<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/player_card.png` | relURL }}" class="feather text-violet feather-big" width="10em" height="10em" alt="Team Icon">
        <h2 class="h2">Create Profile <small class="d-none">🛡️</small></h2>
        <p>Create a basketball profile outlining your skills, experience, position, references and much more! Similar
           to an ESPN player card. 
        </p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/matching.png` | relURL }}" class="feather text-violet feather-big" width="10em" height="10em" alt="Team Icon">
        <h2 class="h2">Smart Matching <small class="d-none">🚀</small></h2>
        <p>Get matchings with other players depending on your player profile. 
            We take into account your strengths and weaknesses before making the suggestion.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/team.png` | relURL }}" class="feather text-violet feather-big" width="10em" height="10em" alt="Team Icon">
        <h2 class="h2">Team Formation <small class="d-none">📈</small></h2>
        <p>Form teams and make friends in a casual setting. Teams will consist of various players who have similar schedules and complement each other skillsets.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Coaching <small class="d-none">🦉</small></h2>
        <p>Using Assist, you can match with other players/coaches based on your skill level and experience. Options can include
           video/text communication or in person meetings. 
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Analytics <small class="d-none">✨</small></h2>
        <p>If a player chooses, they can publish their player-reviewed analytics for others to see. There
           will be rankings across the app to promote the best performing players!
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Leagues <small class="d-none">🧰</small></h2>
        <p>More experienced/serious players can form leagues with other players. They'll be able to form their own rules,
           get in contact with refs, and schedule games.
        </p>
    </div>
</div>
